@import "../../assets/scss/layout", "../../assets/scss/variables", "../../assets/scss/mixins";
.single-menu{
    position: sticky;
    top: 72px;
    z-index: 2;
    @include breakpoint(lp){
        top: 40px;
    }
    @include breakpoint(md){
        top: 40px;
    }
    @include breakpoint(sm){
        top: 40px;
    }
    .mega-menu-cont {
        background: $white-color;
        flex-wrap: wrap !important;
        @include margin(72px, 0, 0, 0);
        border-bottom: 1px solid $border-color;
    
        @include breakpoint(lp) {
            @include margin(52px, 0, 0, 0);
        }
        @include breakpoint(md) {
            @include margin(40px, 0, 0, 0);
        }
        @include breakpoint(sm) {
            @include margin(0, 0, 0, 0);
        }
    
    
        .dropdown-menu {
            width: 100%;
        }
    
        .dropdown-mega-menu {
            .nav-link {
                color: $second-grey-color !important;
                font-weight: 700;
                text-transform: capitalize;
                @include font-size(14px);
                @include margin(0, 5px, 0, 0);
                @include border-radius(45px);
                @include padding(6px !important, 15px !important, 6px !important, 15px !important);
    
                @include breakpoint(lp) {
                    @include font-size(14px);
                }
    
                &:hover {
                    background: #e5e5e5;
                    color: $brand-color !important;
                }
    
                &:focus {
                    background: #e5e5e5;
                    color: $brand-color;
                }
            }
    
            .dropdown-toggle {
                &:after {
                    margin-left: 11px;
                    top: 1px;
                    position: relative;
                    color: #7d7d7d;
                }
            }
    
            .mega-menu-content {
                width: 100%;
                border: 0;
                left: 0;
                @include border-radius(0);
                @include box-shadow(0, 3px, 6px, black(0.1));
                @include padding(20px, 40px, 40px, 35px);
                z-index: 10;
                @include breakpoint(sm){
                    @include padding(20px, 20px, 20px, 25px);
                }
                &__item {
                    color: $third-grey-color;
                    @include margin(0, 0, 5px, 0);
                }
    
                &__link {
                    color: $third-grey-color;
                    @include font-size(13px);
                    text-transform: capitalize;
    
                    &:hover {
                        color: $brand-color;
                        @include margin(0, 0, 0, 5px);
                    }
                }
            }
        }
        .navbar-nav{
            flex-wrap: wrap !important;
            justify-content: flex-start !important;
            .mega-menu-content__group{
                @include breakpoint(ipadLandscape){
                    padding: 0 !important;
                }
            }
        }
    }
    
    .menu-overlay {
        background: rgba($black-color, 0.4);
        width: 100%;
        height: 100%;
        position: fixed;
        left: 0;
        top: 0;
        z-index: -1;
        display: none;
    }
    
    .dropdown-menu.show {
        .menu-overlay {
            display: block !important;
        }
    }
}
