@import "../../assets/style.scss";

.custom-card-wrapper {
  @include padding(14px, 20px, 14px, 20px);
  @include width(100%);

  @include border-radius(10px);
  @include background($white-color);
  box-shadow: 0px -1px 5px 0px rgba(101, 140, 197, 0.2);
  min-height: 350px;
  .custom-title-card {
    margin-bottom: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
  .card-wrapper-inner-list {
    @include padding(10px, 0, 10px, 0);
    canvas{
      max-height: 360px;
    }
    .card-wrapper-inner-list-wrapper-inner {
      @include padding(10px, 15px, 10px, 15px);
      @include border(1px, solid, $blue-scondary-clr);
      @include border-radius(10px);
      @include margin(0, 0, 10px, 0);
      @include flex-start;
      align-items: center;
      @include transition();
      .font-medium {
        display: -webkit-box !important;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
      .details-list {
        @include padding(0, 0, 0, 10px);
      }
      &:hover {
        cursor: pointer;
        @include background($blue-scondary-clr);
        .icon-wrapper {
          @include background($white-color);
        }
      }
    }
  }
  &.all-cards-wrapper {
    @include same-padding(0);
    width: 100%;
    height: 260px;

    .custom-flex-start {
      min-height: 93px;
      @include padding(18px, 16px, 18px, 18px);
    }

    min-height: 240px;

    @include transition();
    &:hover {
      box-shadow: 4px 4px 16px 4px rgba(101, 140, 197, 0.3);
      .custom-dropdown-wrapper-cards {
        .customdropdownwrapper {
          opacity: 1;
          .customdropdownbutton {
            cursor: pointer !important;
            button {
              &:hover{
                background: $grey-clr;
              }
            }
          }
        }
      }
    }
  }
  &.graph-wrapper {
    height: 680px;
  }
  &.medium-card-wrapper {
    min-height: 350px;
  }

  img {
    // max-width: 100%;
    width: 100%;
    height: 100%;
  }
  .no-item-img-wrapper {
    text-align: right;
    img {
      max-width: 160px;
      height: 140px;
    }
  }
}

.icon-wrapper {
  @include min-width(32.5px);
  @include width(32.5px);
  @include height(32.5px);
  @include border-radius(50%);
  @include flex-center;
  @include background($blue-scondary-clr);
  &.large-wrapper {
    @include width(50px);
    @include height(50px);
    @include min-width(50px);
    
  }
}

.blue-link {
  @include font-size(12px);
  color: $brand-color;
}
